allow mm-qcamerad default_prop:property_service set;
allow mm-qcamerad init:unix_stream_socket connectto;
allow mm-qcamerad persist_file:dir search;
allow mm-qcamerad persist_file:file { read getattr open };
allow mm-qcamerad property_socket:sock_file write;
